﻿@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<style type="text/css">


    .container {
        height: 1080px;
        position: relative;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        font-weight: 100;
    }

    .button {
        background-color: #FFF;
        border: none;
        color: #009688;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        height: 130px;
        width: 130px;
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

    .button3 {
        border-radius: 8px;
    }

    .button4 {
        border-radius: 12px;
    }

    .button5 {
        border-radius: 50%;
    }
</style>
<div style="height: 100%;width: 100%;background-image: url('Images/HomeMenu_Background.jpg');">
    <div class="container">
        <div class="center">

            <table>
                <tr>
                    <td>User Name</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" value="@UserName" />
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                </tr>
                <tr>
                    <td> <input type="password" value="@Password" /></td>
                </tr>
                <tr>
                    <td>Language</td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>English</option>
                            <option></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="button button5" @onclick="LoginUser">Login</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
@page "/Login"
@code {
    public string UserName = "";
    public string Password = "";
    private void LoginUser()
    {
        NavigationManager.NavigateTo("MainLayout", true);

    }
}