﻿@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
    <div class="content px-4">
        @*@Body*@
        <MyStoreTabletAppClient.Pages.InventoryEntry/>
    </div>
</div>
