﻿@page "/store"
@inherits AddEditStoreBase

<h3>AddEditStore</h3>

@if (regions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <form>
        <table class="form-group">
            <tr>
                <td>
                    <label for="Name" class="control-label">Store No.</label>
                </td>
                <td>
                    <input type="text" class="form-control" @bind=storeObj.StoreNumber />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Name" class="control-label">Store Name</label>
                </td>
                <td>
                    <input type="text" class="form-control" @bind=@storeObj.StoreName />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Email" class="control-label">Store Address</label>
                </td>
                <td>
                    <input type="text" class="form-control" @bind=@storeObj.StoreAddress />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label" id="lblStoreAddress_AS">Distribution Region</label>
                </td>
                <td>
                    <select class="form-control" bind="@storeObj.DistributionRegionId">
                        @foreach (var region in regions)
                        {
                            <option value=@region.id>@region.keyValue</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Name" class="control-label">Country</label>
                </td>
                <td>
                    <input type="text" class="form-control" @bind=@storeObj.CountryId />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Name" class="control-label">Store IP</label>
                </td>
                <td>
                    <input type="text" class="form-control" @bind=@storeObj.StoreIp />
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success" @onclick="@saveStoreItem" style="width:220px;">Save</button>
                </td>
            </tr>
        </table>
    </form>
}