﻿@page "/InventoryEntry"
@inherits InventoryEntryBase

<img src="images/InventoryImage.png" />
<p></p>
<p></p>
@if (warehouse == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <input type="button" style="display:@isEditDisplay" value="Edit" @onclick="makeEditable" />
        <div style="display:@isUpdateDisplay">
            <input type="button" value="Update" @onclick="updateInventory" />
            <input type="button" value="Cancel" @onclick="cancelEditable" />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Item no. </th>
                <th>Description</th>
                <th>Case Units</th>
                <th>Slave Units</th>
                <th>Single Units</th>
                <th>Total Units</th>
                <th>Expected Units</th>
                <th>Counted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in warehouse)
            {
                <tr>

                    <td>
                        <label for="Description"> @data.Number</label>
                        @*<input type="hidden" value="@count++" />*@
                    </td>
                    <td>
                        <label for="Description"> @data.Description</label>
                    </td>
                    <td>
                        <label for="Description" style="display:@isEditDisplay"> @data.SingleUnits</label>
                        <input @bind-value="data.SingleUnits" @bind-value:event="oninput" @onkeyup="(() => updateTotalUnits(data.ItemId))" style="display:@isUpdateDisplay">
                    </td>
                    <td>
                        <label for="Description" style="display:@isEditDisplay"> @data.CaseUnits</label>
                        <input @bind-value="data.CaseUnits" @bind-value:event="oninput" @onkeyup="(() => updateTotalUnits(data.ItemId))" style="display:@isUpdateDisplay">
                    </td>
                    <td>
                        <label for="Description" style="display:@isEditDisplay"> @data.SlaveUnits</label>
                        <input @bind-value="data.SlaveUnits" @bind-value:event="oninput" @onkeyup="(() => updateTotalUnits(data.ItemId))" style="display:@isUpdateDisplay">
                    </td>
                    <td>
                        <label for="Description"> @data.TotalUnits</label>
                    </td>
                    <td>
                        <label for="Description"> @data.ExpectedUnits</label>
                    </td>
                    <td><input type="checkbox" disabled @bind-value="data.Counted" @bind-value:event="oninput"/></td>
                </tr>
            }
        </tbody>
    </table>
}
