﻿@page "/storeList"
@inherits StoreListBase
<h3>StoreList</h3>

<div class="container-fluid scrollbar m-0">
    @if (stores == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Store No</th>
                    <th>Store Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var store in stores)
                {
                    <tr>
                        <td>@store.StoreNumber</td>
                        <td>@store.StoreName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    </div>